<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>JS Bin</title>
</head>

<body>
  <div id="app">
    <select name="" id="" class="form-control mb-3" v-model="selected">
      <option value="" disabled>--- 請選擇城市 ---</option>
      <option v-for="item in location" :value="item">
        {{ item }}
      </option>
    </select>
    <div>
      <h4>關注城市</h4>
      <div class="card-columns">
        <!-- <div class="card status-aqi2">
          <div class="card-header">苗栗縣 - 三義
            <a href="#" class="float-right"><i class="fas fa-star"></i></a>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              <li>AQI 指數: 54</li>
              <li>PM2.5: 8</li>
              <li>說明: 普通</li>
            </ul>
            2018-05-20 16:00
          </div>
        </div> -->
        <card-city class="card" v-for="(item, index) in staredData" :key="index" :cities="item" @switch-card="switchStar(item)">
          <template slot="icon-star">
            <i class="fas fa-star"></i>
          </template>
        </card-city>
      </div>
    </div>
    <hr>
    <div class="card-columns">
      <card-city class="card" v-for="(item, index) in filterData" :key="index" :cities="item"
        @switch-card="switchStar(item)"></card-city>
    </div>
  </div>

  <script type="text/x-template" id="cardCity">
    <div class="card" :class="statusClass(cities.Status)">
      <div class="card-header">{{ cities['County'] }} - {{ cities['SiteName'] }}
        <a href="#" class="float-right" @click.prevent="setFocus">
          <slot name="icon-star">
            <i class="far fa-star"></i>
          </slot>
        </a>
      </div>
      <div class="card-body">
        <ul class="list-unstyled">
          <li>AQI 指數: {{ cities['AQI'] }}</li>
          <li>PM2.5: {{ cities['PM2.5'] }}</li>
          <li>說明: {{ cities['Status'] }}</li>
        </ul>
        {{ cities['PublishTime'] }}
      </div>
    </div>
  </script>

  <script>
    Vue.component('card-city', {
      props: ['cities'],
      template: '#cardCity',
      methods: {
        setFocus() {
          this.$emit('switch-card'); // 注意這裡的事件只能用小寫
        },
        statusClass(status) {
          switch(status) {
            case "良好":
              return "status-aqi1";
              break;
            case "普通":
              return "status-aqi2";
              break;
            case "對敏感族群不健康":
              return "status-aqi3";
              break;
            case "對所有族群不健康":
              return "status-aqi4";
              break;
            case "非常不健康":
              return "status-aqi5";
              break;
            case "危害":
              return "status-aqi6";
              break;
            default:
              break;
          }
        }
      }
    });

    const app = new Vue({
      data: {
        data: [],
        location: [],
        stared: JSON.parse(localStorage.getItem('stared')) || [],
        selected: '',
      },
      // 請在此撰寫 JavaScript
      methods: {
        getData() {
          const vm = this;
          const api = 'http://opendata2.epa.gov.tw/AQI.json';

          // 使用 jQuery ajax
          $.get(api).then(response => {
            vm.data = response;
            // console.log(response);
            let apiArray = [];
            apiArray = vm.data.map(item => {
              return item.County;
            });
            vm.location = Array.from(new Set(apiArray));
            // console.log(vm.location);
          });
        },
        switchStar(item) {
          const vm = this;
          if (!vm.stared.includes(item.SiteName)) { // 關注陣列裡面有無包含 點擊到的地點 資料
            vm.stared.push(item.SiteName);        // 將資料放進關注陣列
          } else {
            for (let i = 0; i <= vm.stared.length; i++) {
              if (vm.stared[i] === item.SiteName) {
                vm.stared.splice(i, 1);
              }
            }
          }
          // console.log(vm.stared);
          localStorage.setItem('stared', JSON.stringify(vm.stared));
        }
      },
      computed: {
        filterData() {
          const vm = this;
          if (vm.selected === '') {
            return vm.data.filter(item => {
              // 回傳「 stared 裡頭"沒有"的縣市（沒有被關注） 」的資料
              return vm.stared.indexOf(item.SiteName) === -1;
            });
          } else {
            return vm.data.filter(item => {
              if (item.County === vm.selected) {
                return vm.stared.indexOf(item.SiteName) === -1;
              }
            });
          };
        },
        staredData() {
          const vm = this;
          return vm.data.filter(item => {
            // 回傳「 字串 stared 裡頭"有"的縣市（有被關注） 」的資料
            return vm.stared.indexOf(item.SiteName) > -1;
          })
        }
      },
      created() {
        this.getData();
      }
    });
    app.$mount('#app');

  </script>

  <style>
    .status-aqi1 {
      background-color: #69f0ae;
    }
    .status-aqi2 {
      background-color: #ffff00;
    }

    .status-aqi3 {
      background-color: #ff7e00;
    }

    .status-aqi4 {
      background-color: #ff0000;
    }

    .status-aqi5 {
      background-color: #8f3f97;
    }

    .status-aqi6 {
      background-color: #7e0023;
    }
  </style>

</body>

</html>
